@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

.header{
    height: 100vw;
    width: 100vh;

}

.context {
    width: 100%;
    min-height:25vh;
    padding: 20px;
}

.context h1{
    text-align: center;
    color: #3f51b6;
    font-size: 70px;
    font-family: 'Exo', sans-serif;
}

.context h2{
    text-align: center;
    color: #3f51b6;
    font-size: 40px;
    font-family: 'Exo', sans-serif;
}
