.top-text-block {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: inherit !important;
  border-bottom: 1px solid #f4f4f4;
  position: relative;
}

.top-text-block:hover:before {
  content: '';
  width: 4px;
  background: #f05a1a;
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

.top-text-block.unread {
  background: #ffc;
}
.top-text-block .top-text-light {
  color: #999;
  font-size: 0.8em;
}
.top-head-dropdown .dropdown-menu {
  width: 350px;
  height: 300px;
  overflow: auto;
}
.top-head-dropdown li:last-child .top-text-block {
  border-bottom: 0;
}
.topbar-align-center {
  text-align: center;
}
.loader-topbar {
  margin: 5px auto;
  border: 3px solid #ddd;
  border-radius: 50%;
  border-top: 3px solid #666;
  width: 22px;
  height: 22px;
  -webkit-animation: spin-topbar 1s linear infinite;
  animation: spin-topbar 1s linear infinite;
}
@-webkit-keyframes spin-topbar {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin-topbar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.tabs a:focus, .tabs a:hover {
  color: white;
}